/*
 * 锟节碉拷前LESS锟侥硷拷锟叫碉拷锟斤拷锟斤拷锟斤拷锟斤拷锟斤拷LESS锟侥硷拷
 * ->reference锟斤拷只锟角碉拷锟斤拷锟斤拷锟斤拷锟斤拷锟斤拷取使锟斤拷,锟斤拷锟斤拷锟斤拷时锟津不憋拷锟斤拷锟斤拷锟斤拷锟侥达拷锟斤拷
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
button,
input,
textarea,
th,
td,
i,
img {
  margin: 0;
  padding: 0;
}
body {
  font-style: normal;
  font-family: DroidSansFallback;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  background-color: transparent;
}
a:hover,
a:active {
  outline-width: 0;
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  border: 0;
  height: 1px;
}
img {
  border-style: none;
  vertical-align: middle;
}
img:not([src]) {
  display: none;
}
svg:not(:root) {
  overflow: hidden;
}
html {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
}
input,
textarea,
button,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
  margin: 0;
  padding: 0;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  margin: 0;
  padding: 0;
}
audio:not([controls]),
video:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
mark {
  background-color: #ff0;
  color: #000;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
button,
input,
select,
textarea {
  font-size: 100%;
  outline: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
textarea {
  overflow: auto;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
.clear:after {
  display: block;
  height: 0;
  content: "";
  clear: both;
}
html {
  font-size: 100px;
}
.icon-heart {
  position: relative;
  width: .68rem;
  height: .58rem;
}
.icon-heart:before,
.icon-heart:after {
  position: absolute;
  content: "";
  left: .34rem;
  top: 0;
  width: .34rem;
  height: .50rem;
  background: #fc5254;
  border-radius: .34rem .34rem 0 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.icon-heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.icon-images {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 9px;
  height: 9px;
  border: 1px solid #606060;
  border-radius: 2px;
  vertical-align: middle;
}
.icon-images:before {
  content: '';
  position: absolute;
  left: 2px;
  bottom: 2px;
  width: 9px;
  height: 9px;
  border: 1px solid #606060;
  border-radius: 2px;
  background-color: #fff;
}
.head {
  border-bottom: 0.02rem solid #e0e0e0;
  width: 100%;
  height: 2.63rem;
  box-sizing: border-box;
}
.head h1 {
  float: left;
  height: 2.63rem;
  line-height: 2.63rem;
  font-size: 1rem;
  font-weight: 900;
}
.head h1 img {
  display: inline-block;
  margin: 0 .4rem 0 .63rem;
  width: 1.50rem ;
  height: 1.16rem;
}
.head .channel-icon {
  float: right;
  padding: 1rem .9rem 0 0;
}
.head .channel-icon .chIcon {
  position: relative;
}
.head .channel-icon .chIcon,
.head .channel-icon .chIcon:before,
.head .channel-icon .chIcon:after {
  display: block;
  margin: 0 auto;
  content: "";
  width: 1.06rem;
  height: .06rem;
  background: #424242;
}
.head .channel-icon .chIcon:before {
  position: absolute;
  top: -0.2rem;
}
.head .channel-icon .chIcon:after {
  position: absolute;
  top: .2rem;
}
.head .channel-icon .ch-desc {
  display: inline-block;
  height: 1.32rem;
  line-height: 1.32rem;
  font-size: .54rem;
}
.banner {
  margin-bottom: .43rem;
  width: 100%;
  height: 8.70rem;
}
.banner .outer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner .outer .inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.banner .outer .inner a {
  float: left;
  height: 100%;
}
.banner .outer .inner a img {
  width: 100%;
  height: 100%;
}
.channel {
  padding: 0 4% .43rem;
}
.channel h2 {
  height: 2.50rem;
  line-height: 2.50rem;
  font-size: .88rem;
  color: #424242;
}
.channel .channel-list .ch-list {
  margin-left: -3%;
}
.channel .channel-list .ch-list a {
  float: left;
  margin-left: 3%;
  width: 21.5%;
  color: #444444;
}
.channel .channel-list .ch-list a img {
  border-radius: .3rem .3rem 0 0;
  width: 100%;
  height: 4.74rem;
}
.channel .channel-list .ch-list a p {
  border-radius: 0 0 .3rem .3rem;
  height: 1.32rem ;
  line-height: 1.32rem;
  font-size: .66rem;
  text-align: center;
  font-weight: 900;
  letter-spacing: .05rem;
  background: #eee5de;
}
.list {
  padding-left: 3.6%;
}
.list h2 {
  height: 2.52rem;
  line-height: 2.52rem;
  font-size: .88rem;
  color: #424242;
}
.list .waterfall ul {
  float: left;
  margin-right: 4%;
  width: 44.2%;
}
.list .waterfall li {
  width: 100%;
}
.list .waterfall li img {
  width: 100%;
  border-radius: .3rem;
}
